@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), 
       url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit,
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cuprum', 'PT Sans', 'Arial', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header-top {
  height: 42px;

  color: white;

  background-color: #293449;
}

.container-header-top {
  display: flex;
}

.header-top-nav {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.header-top-list {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.header-logo {
  width: 288px;
  padding-top: 12px;
  padding-bottom: 6px;
  align-self: flex-start;
}

.header-top-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 42px;
}

.header-top-item {
  position: relative;
}

.header-top-item button,
.header-top-item input,
.header-top-item a {
  font-size: 17px;
  line-height: 18px;
  color: white;

  background-color: transparent;
  border: none;
}

.header-top-item:first-child {
  flex-grow: 1;
}

.header-top-item label {
  position: relative;
}

.header-top-item svg {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
}

.header-top-item label:hover {
  cursor: text;
}

.header-top-item svg path {
  opacity: 0.3;
}

.header-top-item input:hover + svg path,
.header-top-item svg:hover path {
  opacity: 1;
}

.header-top-item input:active + svg path,
.header-top-item svg:active path {
  opacity: 0.5;
}

.header-top-item input:focus + svg path,
.header-top-item svg:focus path {
  opacity: 1;
  fill: #ee3643;
}


.header-top-item input {
  height: 100%;
  width: 100%;
  padding: 0 10px 0 50px;
}

.header-top-item input::placeholder {
  color: white;
}

.header-top-item input:focus::placeholder {
  color: black;
}

.header-top-item button {
  width: 150px;
  height: 100%;
}

.header-top-item .bookmark::before {
  content: url('../img/icons/icon-bookmark.svg');
  width: 14px;
  height: 16px;
  margin-right: 15px;
  margin-left: -12px;
  opacity: 0.3;
}

.header-top-item .cart::before {
  content: url('../img/icons/icon-cart.svg');
  width: 15px;
  height: 15px;
  margin-right: 15px;
  margin-left: -12px;
  opacity: 0.3;
}

.header-top-item .cart:hover::before,
.header-top-item .bookmark:hover::before {
  opacity: 1;
}

.header-top-item .cart:active::before,
.header-top-item .bookmark:active::before {
  opacity: 0.5;
}

.header-top-item button:hover,
.header-top-item:nth-of-type(1):hover { 
  background-color: #212a3a; 
}

.header-top-item button:active { 
  background-color: #161d29; 
  color: rgba(255, 255, 255, 0.6);
}

.header-top-item input:focus,
.header-top-item label:hover + input:focus {
  color: black;

  outline: none;
  background-color: white;  
}

.header-top-item:last-child a {
  display: block;
  width: 150px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 11px;
  
  background-color: #63a63e;
}

.header-top-item:last-child a:hover {
  background-color: #5fbb2d;
}

.header-top-item:last-child a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6);
}

.header-bottom {
  background-color: #f3f7f8;
  margin-bottom: 59px;
  padding-bottom: 60px;
}

.header-bottom .container {
  min-height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom p {
  margin-left: 50px;
  margin-right: 86px;
  padding: 8px 0 0 3px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  align-self: flex-start;
  margin: 45px auto 0 0;
}

.header-contacts a {
  display: inline-block;
  padding: 8px 50px 7px 12px;
  margin-bottom: 6px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid white;
}

.header-contacts a::before {
  content: url('../img/icons/icon-phone.svg');
  width: 19px;
  height: 19px;
  margin-right: 40px;
}

.header-contacts address {
  margin:0;
  padding-left: 9px;
  
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  align-self: flex-start;
  margin: 59px 0 0 0;
}

.user-navigation .button,
.user-navigation .account-container {
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: white;
}

.user-navigation .button {
  padding: 10px 25px;
}

.user-navigation .button-login {
  padding: 10px 19px 10px 13px;
  margin-right: 10px
}

.button-login svg {
  margin-right: 8px;
}

.button-login:hover svg path {
  fill: #32425c;
}

.user-navigation .button:hover {
  color: #ee3643;
}

.user-navigation .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-login {
  margin: 45px 0 0;
}

.account-container {
  display: flex;
  margin-bottom: 7px;
}

.user-menu {
  display: block;
  padding: 10px 9px 10px 9px;
}

.user-menu:hover path {
  fill: #32425c;
}

.account-container span:active {
  color: rgba(0, 0, 0, 0.3);
}

.username {
  margin: 0 30px 0 10px;
  color: black;
}

.logout {
  align-self: center;
  padding-right: 9px;
  background-color: transparent;
  border: none;
}

.logout:hover path {
  fill: #32425c;
}

.account-menu {
  position: relative;
  display: flex;
  margin: 0 0 0 13px;
}

.account-menu a {
  margin-right: 33px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
}

.account-menu-orders::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 90px;
  margin-top: -2px;
  background-color: #32425c;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.account-menu a:hover {
  color: #ee3643;
}

.account-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-bottom-list {
  display: flex;
  justify-content: space-around;
  width: 940px;
  margin: 0 auto;
  background-color: #32425b;
  box-shadow:
    inset 0 5px 0 5px #32425b,
    inset 0 0 0 5px #293449;
}

.header-bottom-item {
  flex-grow: 1;
}

.header-bottom-list a {
  text-align: center;
  display: block;
  padding: 21px 0px;
  color: white;
}

.header-bottom-item a:hover {
  background-color: #293449;
}

.header-bottom-item a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.6);
}

.promo {
  width: 940px;
  margin: 0 auto 53px;
}

.new::before {
  content: url('../img/icons/new.png');
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
}

.promo-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "p1 p2 p3"
                       "sl sl p4"
                       "sl sl p5";
  gap: 20px;
}

.promo-item:nth-child(1) {
  grid-area: sl;
}

.promo-item:nth-child(2) {
  grid-area: p1;
  background-color: #ffbf47;
  background-image: url('../img/icons/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 83% center;
}

.promo-item:nth-child(3) {
  grid-area: p2;
  background-color: #3bbce3;
  background-image: url('../img/icons/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 88% center;
}

.promo-item:nth-child(4) {
  grid-area: p3;
  background-color: #dc91d8;
  background-image: url('../img/icons/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 86% center;
}

.promo-item:nth-child(5) {
  grid-area: p4;
  background-color: #8ed78f;
  background-image: url('../img/icons/icon-4.svg');
  background-repeat: no-repeat;
  background-position: 82% center;
}

.promo-item:nth-child(6) {
  grid-area: p5;
  background-color: #ffbf47;
  background-image: url('../img/icons/icon-5.svg');
  background-repeat: no-repeat;
  background-position: 86% center;
}

/*Временное решение*/
.promo-item:not(:first-child) {
  position: relative;
  width: 300px;
  height: 123px;
}

.promo-item > h3 {
  padding: 20px 23px 0;
  margin-bottom: 13px;
  color: white;
  font-size: 24px;
  line-height: 30px;
}

.promo-item > a {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  padding: 11px 0;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.promo-item > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  padding: 10px 50px;
  
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.main-button:hover {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.promo-slider {
  width: 620px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slider-img {
  margin: 0;
  position: absolute;
  z-index: -1;
}

.promo-element {
  display: none;
}

.promo-element-current {
  display: block;
}

.promo-slider h3 {
  padding: 25px 0 0 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.slider-description {
  margin: 0 0 28px 25px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.promo-slider-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 19px auto;
}

.promo-slider-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-buttons {
  margin: 0 0 14px 25px;
}

.slider-buttons a {
  padding: 11px 50px 11px 46px;
  font-size: 14px;
  line-height: 18px;
}

.promo-slider-radio {
  display: inline-block;
  width: 150px;
  margin-bottom: 19px;
  margin-left: 13px;
  text-align: center;
}

.promo-slider-radio .promo-element {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: white;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.promo-slider-radio .promo-element-current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -3px -3px 0;
  
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.popular {
  width: 940px;
  margin: 0 auto 85px;
}

.popular-products-header,
.popular-brands-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 24px;
  margin: 20px 0;
  background-color: #f9f5f0;
}

.popular-products-header > a {
  padding-left: 54px;
  padding-right: 54px;
}

.popular-brands-header > a {
  margin-top: 2px;
  padding-left: 69px;
  padding-right: 69px;
}

.popular-products-header h3,
.popular-brands-header h3 {
  padding: 5px 0 0 4px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.products {
  width: 700px;
}

.popular-products-list,
.popular-brands-list,
.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.popular-products-item,
.popular-brands-item,
.products-item {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #eaeaea;
  background-color: white;
  margin-bottom: 10px;
}

.popular-products-item,
.products-item {
  width: 218px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popular-brands-item {
  width: 218px;
  height: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-products-item:hover,
.popular-brands-item:hover,
.products-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-products-item h4,
.products-item h4 {
  width: 170px;
  margin: 0 auto 11px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: black;
}

.popular-products-item img,
.products-item img {
  display: block;
  text-align: center;
}

.products-item-button {
  width: 218px;
  height: 170px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-item-button > * {
  width: 135px;
  padding: 10px 0 10px;
  margin-bottom: 7px;
}

.products-item-display {
  order: -1;
  margin-bottom: 5px;
}

.products-item-display > p {
  display: block;
  margin: 0;
  order: -1;
}

.products-item-display:hover p {
  display: none;
}

.products-item-display:hover .products-item-button {
  display: flex;
}

.item-button-buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.item-button-buy:hover,
.item-button-buy:focus {
  background-color: #5fbb2d;
}

.item-button-buy:active {
  background-color: #367315;
}

.item-button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;

  background-color: transparent;
  border: 3px solid #63a63e;
}

.item-button-bookmark:hover {
  border-color: #32425c;
}

.item-button-bookmark:active {
  opacity: 0.3;
}

.popular-products-item del,
.products-item del {
  margin-bottom: 11px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #a9a9a9;
}

.item-price-buy {
  margin-left: 7px;
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-image: url('../img/icons/red-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.service {
  background-color: #f4f8f9;
  padding: 65px 0;
  margin-bottom: 56px;
}

.service-slider-list {
  margin: 0;
  padding: 0;
}

.service-slider {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.service h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 27px;
}

.service p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.service .container > p {
  margin-bottom: 66px;
}

.service-slider-list {
  margin-right: 80px;
  margin-bottom: 65px;
}

.service-slider-list::before {
  content: url('../img/pictures/decoration-line.png');
  position: absolute;
  top: 50%;
  left: 230px;
  margin-top: -170px;
}

.service-slider-item button {
  width: 240px;
  height: 60px;
  padding: 0 0 0 20px;
  text-align: start;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: white;

  background-color: #32425c;
  border: none;
}

.service-slider-item:not(:last-child) button {
  border-bottom: 1px solid #4d637b;
}

.service-slider-item button:hover {
  background-color: #293449;
}

.service-slider-current button,
.service-slider-current button:hover,
.service-slider-current .button:active {
  color: #32425c;

  background-color: white;
}

.service-slider-page {
  
  display: flex;
}

.service-slider-page img {
  position: absolute;
  margin-top: 26px;
  margin-left: 151px;
}

.service-slider-page h3 {
  margin: 8px 0 28px;
  font-size: 36px;
  line-height: 26px;
  color: #32425c;
  text-transform: uppercase;
}

.service-slider-page p {
  margin-bottom: 30px;
}

.about {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-main {
  width: 540px;
}

.about-contacts {
  width: 300px;
}

.about-main h3,
.about-contacts h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.about-main p,
.about-contacts p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 24px;
}

.about-delivery-list {
  padding-left: 35px;
  width: 200px;
  position: relative;
  margin-bottom: 41px;
}

.about-delivery-item {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.about-delivery-item::before {
  content: '';
  position: absolute;
  left: 0;
  margin-top: 8px;
  width: 25px;
  border-bottom: 2px solid #ee3643;
}

.about-main a {
  width: 150px;
  padding: 11px 40px;
}

.about-contacts img {
  margin: 6px 0 35px;
  cursor: pointer;
}

.about-contacts img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-contacts button {
  margin: 0;
  padding: 10px;
  width: 100%;
}

.footer-top {
  height: 193px;
  margin-top: 86px;
  color: white;

  background-color: #32425c;
}

.container-top,
.container-bottom {
  display: flex;
  justify-content: space-between;
}

.container-top {
  margin-bottom: 30px;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  padding: 16px 41px;
}

.footer-navigation-list {
  align-self: flex-end;
  width: 550px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-promo-list {
  width: 530px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-navigation-item a,
.footer-promo-item a {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer-promo-item a {
  color: #ffd180;
}

.footer-navigation-item a,
.footer-promo-item a {
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-item a:hover,
.footer-promo-item a:hover,
.footer-navigation-item a:focus,
.footer-promo-item a:focus {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-promo-item a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-contacts a,
.footer-contacts address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: white;
}

.footer-bottom {
  color: white;

  background-color: #293449;
}

.footer-bottom .container {
  height: 105px;
  display: flex;
  justify-content: space-between;
}

.footer-copyright a,
.footer-copyright p {
  margin: 37px 0 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-social-list {
  margin: 6px 0 0 55px;
  padding: 0;
  display: flex;
  align-self: center;
}

.footer-social-item {
  margin-left: 5px;
}

.footer-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; 

  text-align: center;
  vertical-align: middle;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social-item img {
  display: block;
}

.footer-social-item a:hover,
.footer-social-item a:focus,
.footer-social-item a:active {
  background-color: #ee3643;
}

.footer-authors {
  display: flex;
}

.footer-authors div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
}

.footer-authors p,
.footer-authors a {
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.footer-authors a {
  color: #ffd180;
  margin-bottom: 20px;
}

.footer-authors a:hover,
.footer-authors a:focus {
  text-decoration: underline;
}

.footer-authors a:active {
  text-decoration: none;
  color: #ee3643;
}

.write-us {
  box-sizing: border-box;
  width: 620px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin: -100px -310px 0;
  z-index: 1;
  padding: 0;
  background-color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5257;
  padding: 45px 80px 0;
}

.write-us-container {
  display: flex;
  justify-content: space-between;
}

.write-us label {
  font-size: 18px;
  line-height: 18px;
  color: black;
}

.write-us input {
  box-sizing: border-box;
  padding: 15px;
  width: 216px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: black;

  background-color: white;
  border: 2px solid #a9a9a9;
  border-radius: 3px;
}

.write-us-name {
  margin-right: 20px;
  margin-bottom: 20px;
}

.write-us-text {
  box-sizing: border-box;
  padding: 15px;
  width: 460px;
  height: 114px;
  margin-bottom: 37px;
  background-color: white;
  border: 2px solid #a9a9a9;
  border-radius: 3px;

}

.write-us-submit {
  width: 100%;
  margin: 0 -80px;
  padding: 37px 80px;
  text-align: center;
  background-color: #f4f4f4;
}

.write-us-submit button {
  width: 100%;
  margin: 0;
}

.big-map {
  width: 940px;
  height: 446px;
  position: fixed;
  top: 30%;
  right: 50%;
  margin: 0 -470px 0 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  z-index: 1;
}


.big-map > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  margin: -38px 0 19px;
  padding: 0;
  display: flex;
}

.breadcrumbs-item a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.breadcrumbs-item:not(:last-child) a::after {
  content: url('../img/icons/icon-right-small.svg');
  margin: 0 20px;
}

.catalog-main h1 {
  padding: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.filters {
  margin-right: 20px;
  width: 220px;
}

.filters h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters-form fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters-form legend {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.filters-form label {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
}

.filter-brands-item label::before {
  content: url('../img/icons/checkbox-off.svg');
  vertical-align: middle;
  margin-right: 10px;
}

.filter-brands-item input:checked + label::before {
  content: url('../img/icons/checkbox-on.svg');
  margin-right: 6px;
}

.filter-network-item label::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 16px;
  height: 16px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  margin-right: 10px;
}

.filter-network-item {
  position: relative;
}

.filter-network-item input:checked + label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background-color: #c5c5c5;
  border-radius: 50%;
}


.filters-form input:disabled + label {
  opacity: 0.4;
}

.pagination-list {
  display: flex;
  margin-bottom: 60px;
}

.button-filters,
.pagination-item button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;

  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.button-filters:hover,
.pagination-item button:hover {
  border-color: #bdc6ca;
}

.button-filters:active,
.pagination-item button:active {
  border-color: #ee3643;
}

.pagination-item-current button {
  color: white;

  background-color: #ee3643;
  border: none;
}

.pagination-item button {
  width: 36px;
  height: 36px;
  margin-top: 52px;
  margin-right: 8px;
}

.pagination-item:last-child button {
  width: 138px;
  height: 36px;
}

.sort {
  background-color: #f7f3ec;
  display: flex;
  align-items: center;
  height: 38px;
  margin-bottom: 20px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.sort h4 {
  margin-left: 18px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}

.sort-item a {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;

  opacity: 0.3;
}

.sort-item a:hover {
  border-bottom: 1px solid #ee3643;

  opacity: 1;
}

.sort-item a:active,
.sort-item-current a {
  color: #ee3643;
  
  border: none;
  opacity: 1;
}

.sort-item-arrows a,
.sort-item-arrows a:hover {
  border: none;
}

.about-perf {
  padding: 65px 0;
  background-color: #f2f6f8;
}

.about-perf h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.about-perf p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.footer-top-catalog {
  margin-top: 0;
}












/* Дополнительно */
.off {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}